# Playwright
/test-results/
/playwright-report/
/playwright/.cache/
test-results.json

# Node
node_modules/
npm-debug.log*
dist/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment
.env
.env.*
.env.local
